<div class="container">
    <mat-card class="card-hover">
        <mat-card-title class="text-center">Einstellungen</mat-card-title>
        <mat-card-content>
            <div class="flex flex-row place-content-center">
                <button mat-icon-button (click)="openSettingsDialog('pilot')">
                    <mat-icon>settings</mat-icon>
                </button>

                <mat-form-field appearance="fill">
                    <mat-select></mat-select>
                </mat-form-field>

                <button mat-icon-button (click)="selectFile()">
                    <mat-icon>arrow_upward</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>