.userGroupContainer {
    margin: 10px 200px;
    padding: 10px;
    border-style: solid;
    border-color: #13181e;
    border-width: 5px;
    border-radius: 25px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend {
    font-size: larger;
    font-weight: bold;
}