
  <!--Panel for "Testkunden"-->  
  <mat-expansion-panel>

    <!--Header stuff/visible when collapsed.-->
    <mat-expansion-panel-header>
      <mat-panel-title>
        Testkunden
      </mat-panel-title>
      <mat-panel-description>
        Test-Version
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--Content/visble when expanded.-->
    <div>
      <table mat-table [dataSource]="dataSourceTest" class="w-[100%]">

        <!-- Position name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
  
          <!-- Position seriennummer -->
          <ng-container matColumnDef="seriennummer">
              <th mat-header-cell *matHeaderCellDef>Seriennummer</th>
              <td mat-cell *matCellDef="let element">{{ element.sn }}</td>
            </ng-container>

            <!-- Position praxis -->
          <ng-container matColumnDef="praxis">
            <th mat-header-cell *matHeaderCellDef>Praxis</th>
            <td mat-cell *matCellDef="let element">{{ element.praxis }}</td>
          </ng-container>

            <!-- Position version -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef>Version</th>
            <td mat-cell *matCellDef="let element">{{ element.version }}</td>
          </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row 
            *matRowDef="let row; columns: displayedColumns"
            (click)="clickedRows.add(row)"></tr>
      </table>
    </div>

    <!--Footer/visible when expanded.-->
    <mat-action-row>
        <button mat-raised-button color="accent" (click)="openDialog()">add user</button>
        <button mat-raised-button color="warn" (click)="deleteRows()">delete user</button>
    </mat-action-row>

  </mat-expansion-panel>