<div class="flex flex-col w-full">

  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">Log in</button>
    </mat-menu>
  </div>

  <ng-container *ngIf="userGroups">
    <app-usergroup-view *ngFor="let userGroup of userGroups"></app-usergroup-view>
  </ng-container>

  <div class="py-[40px] mx-4">
    <button mat-fab color="accent" (click)="createUserGroup()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>