<div class="flex flex-col h-[100%]">

  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">Log in</button>
    </mat-menu>
  </div>

  <div class="container">
  <mat-card class="card-hover">
    <mat-card-title class="text-center">Test-Version</mat-card-title>
    <mat-card-content>
      <div class="flex flex-row place-content-center">
        <button mat-icon-button (click)="openSettingsDialog('test')">
          <mat-icon>settings</mat-icon>
        </button>
  
        <mat-form-field appearance="fill">
          <mat-select></mat-select>
        </mat-form-field>
  
        <button mat-icon-button>
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-hover">
    <mat-card-title class="text-center">Dev-Version</mat-card-title>
    <mat-card-content>
      <div class="flex flex-row place-content-center">
        <button mat-icon-button (click)="openSettingsDialog('dev')">
          <mat-icon>settings</mat-icon>
        </button>
  
        <mat-form-field appearance="fill">
          <mat-select></mat-select>
        </mat-form-field>
  
        <button mat-icon-button>
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card mat-ripple class="card-hover">
    <mat-card-title class="text-center">Public-Verison</mat-card-title>
    <mat-card-content>
      <div class="flex flex-row place-content-center">
        <button mat-icon-button (click)="openSettingsDialog('public')">
          <mat-icon>settings</mat-icon>
        </button>
  
        <mat-form-field appearance="fill">
          <mat-select></mat-select>
        </mat-form-field>
  
        <button mat-icon-button>
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

</div>
