<h1 mat-dialog-title>Nutzergruppe erstellen oder bearbeiten</h1>
<div mat-dialog-conent>

    <p>Name der Nutzergruppe</p>
    <mat-form-field appearance="fill" autocomplete="off">
        <mat-label>Name</mat-label>
        <input type="text" id="nameInput" matInput [formControl]="textFormControl" autocomplete="off" [(ngModel)]="data.name">
        <mat-error *ngIf="textFormControl.hasError('required')">Pflichtfeld</mat-error>
    </mat-form-field>

    <p>Limit für Downloads pro Tag</p>
    <mat-form-field appearance="fill" autocomplete="off">
        <mat-label>Limit</mat-label>
        <input type="number" id="limitInput" matInput autocomplete="off" [(ngModel)]="data.limit">
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-raised-button [disabled]="textFormControl.hasError('required')" color="accent"
        [mat-dialog-close]="data">Hinzufügen</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Abbrechen</button>
</div>